// ==========================================================================
// Helpers
// ==========================================================================

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

$padding: em(80px) $gutters;
$mb: em(10px);
$mt: em(30px);
$m-width: 500px;
