// ==========================================================================
// Container
// ==========================================================================

.wrap {
  @media #{$break--l} {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.wrapper {
  overflow-x: hidden;
}
